# Import data

In [2]:
import pandas as pd

df = pd.read_excel (r'C:\Users\Laptop\anaconda3\envs\kul\kul_mda_barbados\data\all_submission_files.xlsx')
print(df)

           cik              nameOfIssuer      titleOfClass      cusip  \
0      1129770  SPDR S&P 500                           COM  824348106
1      1129770  SPDR Dow Jones Ind                     COM  78467x109
2      1129770  Ishares Russell                        COM  464287622
3      1129770  Invesco QQQ TRUST                      COM  73935a104
4      1129770  iShares Russell 20                     COM  464287655
...        ...                       ...               ...        ...
46767  1744091                ISHARES TR  RUS 2000 GRW ETF  464287648
46768  1744091         ETF SER SOLUTIONS       US GLB JETS  26922A842
46769  1744091           BEYOND MEAT INC               COM  08862E109
46770  1744091             SUNPOWER CORP               COM  867652406
46771  1744091      LOCKHEED MARTIN CORP               COM  539830109

          value  sshPrnamt sshPrnamtType
0      70889608     211680            SH
1      29886300     107698            SH
2      26825894     143339            SH
3      21672909      78005            SH
4       9434973      62988            SH
...         ...        ...           ...
46767       224        782            SH
46768       219       9794            SH
46769       218       1740            SH
46770       213       8310            SH
46771       202        570            SH

[46772 rows x 7 columns]

# check for missing values

In [3]:
df.isna().sum()

cik              0
nameOfIssuer     1
titleOfClass     1
cusip            0
value            0
sshPrnamt        0
sshPrnamtType    0
dtype: int64

## drop missing values (remove rows having missing values)

In [4]:
df.dropna(axis=0)

,cik,nameOfIssuer,titleOfClass,cusip,value,sshPrnamt,sshPrnamtType
0,1129770,SPDR S&P 500,COM,824348106,70889608,211680,SH
1,1129770,SPDR Dow Jones Ind,COM,78467x109,29886300,107698,SH
2,1129770,Ishares Russell,COM,464287622,26825894,143339,SH
3,1129770,Invesco QQQ TRUST,COM,73935a104,21672909,78005,SH
4,1129770,iShares Russell 20,COM,464287655,9434973,62988,SH
...,...,...,...,...,...,...,...
46767,1744091,ISHARES TR,RUS 2000 GRW ETF,464287648,224,782,SH
46768,1744091,ETF SER SOLUTIONS,US GLB JETS,26922A842,219,9794,SH
46769,1744091,BEYOND MEAT INC,COM,08862E109,218,1740,SH
46770,1744091,SUNPOWER CORP,COM,867652406,213,8310,SH
46771,1744091,LOCKHEED MARTIN CORP,COM,539830109,202,570,SH

only one row is deleted due to missing values in the columns nameofIssuer and titleOfClass

# Data Formatting

convert imported data into a dataframe and print the first 10 rows

In [6]:
print('Dimension of the dataframe:',df.shape)
df.head(10)

Dimension of the dataframe: (46772, 7)

,cik,nameOfIssuer,titleOfClass,cusip,value,sshPrnamt,sshPrnamtType
0,1129770,SPDR S&P 500,COM,824348106,70889608,211680,SH
1,1129770,SPDR Dow Jones Ind,COM,78467x109,29886300,107698,SH
2,1129770,Ishares Russell,COM,464287622,26825894,143339,SH
3,1129770,Invesco QQQ TRUST,COM,73935a104,21672909,78005,SH
4,1129770,iShares Russell 20,COM,464287655,9434973,62988,SH
5,1129770,SPDR S&P Mid-Cap 4,COM,78464a821,9351708,27600,SH
6,1129770,Amazon Com Inc,COM,023135106,1032783,328,SH
7,1129770,SPDR S&P Homebuild,COM,78464a888,879628,16326,SH
8,1129770,Central Fd Cda Ltd,COM,153501101,783173,42703,SH
9,1129770,Accelerate Diagnos,COM,00430h105,690395,64765,SH

drop all missing values using the dropna() function

In [7]:
df.dropna(how='any',inplace=True)

examine the different data types

In [8]:
df.dtypes

cik               int64
nameOfIssuer     object
titleOfClass     object
cusip            object
value             int64
sshPrnamt         int64
sshPrnamtType    object
dtype: object

descriptive statistics of the numerical variables

In [13]:
df.describe()

                cik         value     sshPrnamt
count  4.677100e+04  4.677100e+04  4.677100e+04
mean   1.333147e+06  7.083168e+04  4.115935e+05
std    3.269081e+05  1.076631e+06  3.697519e+06
min    3.149650e+05  0.000000e+00  0.000000e+00
25%    9.325400e+05  8.350000e+01  2.000000e+03
50%    1.429788e+06  5.560000e+02  1.129400e+04
75%    1.549408e+06  3.392000e+03  6.156200e+04
max    1.846995e+06  7.088961e+07  2.800908e+08

cik column also used but this has no meaning => drop this column.
descriptive statistics of the 2 numerical variables (value and sshPrnamt)

In [15]:
cols = set(df) - {'cik'}
df1 = df[list(cols)]
df1.describe()

              value     sshPrnamt
count  4.677100e+04  4.677100e+04
mean   7.083168e+04  4.115935e+05
std    1.076631e+06  3.697519e+06
min    0.000000e+00  0.000000e+00
25%    8.350000e+01  2.000000e+03
50%    5.560000e+02  1.129400e+04
75%    3.392000e+03  6.156200e+04
max    7.088961e+07  2.800908e+08

In [16]:
df['cusip'].unique()

array(['824348106', '78467x109', '464287622', ..., '9837FR100',
       '98390M103', '98872L102'], dtype=object)

it seems that the same concept is never represented in different ways so we don't need to manipulate them